<p>
  {{ address }}
</p>
<p>
  {{ balance }}
</p>
<p>
  {{ games }}
</p>
  
<!-- <div class="container">
  <form #myForm="ngForm" (ngSubmit)="regbroker(myForm.value)">
    <label for="amount">Enter Ethre:</label><input type="text" name="amount" id="amount" [(ngModel)]="amount" >
    <button type="submit">Register As Broker</button>
  </form>
</div> -->

<div class="container">
  <ul> 
    <li *ngFor="let game of total_game; let i = index"> 
      {{ i + 1 }} - {{ game.broker_name }} 
    </li>
  </ul>
</div>